extends ./index.jade

block body
    body.container.flex.flex-column
        div.clearfix.flex-grow
            header.px2.col.col-12.md-col-3.center.md-left
                a(href="")
                    img(src=logo, style={height: "9em", width: "9em"}).header-logo.circle.block
                h1 #{title}

                nav
                    ul.col-12.p0.list-reset.inline-block.clearfix.blue
                        each item in nav
                            li.py1.pl0.pr0.md-no-hover-box-shadow.md-no-active-box-shadow.block.col-12.btn.btn-outline.not-rounded.y-group-item.regular.white.main-nav-item
                                a(href=item.href).block #{item.name}

                include ./includes/slogan.jade

            main(role="main").px2.col.col-12.md-col-9.lg-col-6
                block main
                    p main

            section.col.col-12.lg-col-3
                include ./includes/sidebar.jade

        footer.gray.left-align.p2
            section Desmond Lee © 2015

        script(src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js", data-no-instant)
        script(src="https://code.jquery.com/jquery-1.11.3.min.js", data-no-instant)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js", data-no-instant)
        | <script>
        |   $(document).ready(function(){
        |   // Target your .container, .wrapper, .post, etc.
        |   $("main[role='main']").fitVids();
        |   });
        | </script>

        script(data-no-instant).
            InstantClick.init();

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            //ga('create', 'UA-69448796-2', 'auto');

            InstantClick.on('change', function () {
                console.log(location.pathname);
                ga('send', 'pageview', location.pathname + location.search);
            });